:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  background-color: var(--mainWhite) !important;
}

/* navbar component styling */
.navbar {
  background-color: var(--mainBlue) !important;
}
.round {
  width: 70px !important;
  height: 60px !important;
  border: 0.001rem solid var(--lightBlue) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.round:hover {
  background-color: var(--lightBlue) !important;
}
.round:hover .home-icon{
  color: var(--mainBlue) !important;
}

/* home page styling */
.home {
  width:100vw;
  height: 91vh;
  background-image: url('./images/fond2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.stylehome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightBlue);
}
#title {
  font-size:4rem;
}
@media screen and (max-width:700px) and (min-width:501px) {
  #title {
    font-size: 3rem;
    color: var(--lightBlue);
  }
}
@media screen and (max-width:500px) {
  #title {
    font-size: 2rem;
    color: var(--lightBlue);
  }
}

/* Register Page styling  */
.main {
  color: white !important;
}
.plan {
  width: 100vw;
  height: 91.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.regform {
  width: 800px;
  background-color: rgb(0,0,0,0.6);
  margin:auto;
  color: white;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-radius:15px 15px 0px 0px;
}
.main {
 background-color: rgb(0,0,0,0.5);
 width: 800px;
 height: 50vh;
 margin:auto;
 border-radius: 15px 15px 15px 15px;
}
.form-type{
  width:100%;
  height:100%;
  padding-top: 30px;
  }
.subtitle {
  margin-left: 60px;
  padding-top: 60px;
  padding-left: 50px;
  width: 125px;
  color:white;
  font-size:1.5rem;
  font-weight: 700;
}
.select-form {
  width: 330px;
  height: 40px;
}
.inbox {
  border-radius: 6px;
  width: 330px;
  font-size: 1.6rem;
  height: 40px;
  margin-left: 90px;
  cursor: pointer;
}
.inbox:focus{
  outline: none;
}
.radio {
  margin-left:90px;
  cursor: pointer;
}
.footer-form {
  display: flex;
  width:100%;
  justify-content: center;
  margin-top: 50px;
}
.save-btn {
  width: 65%;
  height:40px;
}
@media screen and (max-width:800px) {
  .regform {
    width:60vw;
  }
  .regform h1 {
    font-size:1.2rem;
  }
  .main {
    width: 60vw;

  }
  .subtitle {
    font-size: 1rem;
    margin-left: 0px;
  }
  .inbox {
    width: 40%;
    font-size:1.2rem;
    margin-left: 6px;
  }
  .form-type{
    padding-top: 5px;
  }
}
/* table styling */

.table {
  width:65vw;
  height: auto;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  background-color: rgb(0,0,0,0.5);
  border-radius: 15px 15px 15px 15px;
}
.table thead{
  background-color: rgb(0,0,0,0.7);
}
.table td {
  border: 0.3rem solid black;
  width:25%;
  color:white;
}
.footer-table {
  width:65vw;
  display:flex;
  justify-content: center;
  align-items: center;
}
.delete-btn {
  width:50%;
  height: 40px;
}
.plan h1 {
  color:var(--lightBlue);
}
